{% extends "base_data.html" %}

{% block head %}
{{ super() }}
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='javascripts/jquery_ajax_air_quality.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='javascripts/air_use_chart.js') }}"></script>
{% endblock %}

{% block page_content %}
{{ super() }}
<h2>室内</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>PM2.5</td>
            <td id="PM25">Please wait...</td>
        </tr>
        <tr>
            <td>等级</td>
            <td>Please wait...</td>
        </tr>
        <tr>
            <td>走势</td>
            <td>
                <div style="height:400px;width:1000px" id="container_PM25">Please wait...</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>TVOC</td>
            <td id="TVOC">Please wait...</td>
        </tr>
        <tr>
            <td>等级</td>
            <td>Please wait...</td>
        </tr>
        <tr>
            <td>走势</td>
            <td>
                <div style="height:400px;width:1000px" id="container_TVOC">Please wait...</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>CO2</td>
            <td id="CO2">Please wait...</td>
        </tr>
        <tr>
            <td>等级</td>
            <td>Please wait...</td>
        </tr>
        <tr>
            <td>走势</td>
            <td>
                <div style="height:400px;width:1000px" id="container_CO2">Please wait...</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>CH2O</td>
            <td id="CH2O">Please wait...</td>
        </tr>
        <tr>
            <td>等级</td>
            <td>Please wait...</td>
        </tr>
        <tr>
            <td>走势</td>
            <td>
                <div style="height:400px;width:1000px" id="container_CH2O">Please wait...</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}